/* 外部样式表 styles.css */

/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
}

h2 {
    margin-top: 30px;
    color: #333;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
select {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 新增样式 */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/* 白天模式样式 */
body {
    background-color: white;
    color: black;
}

/* 夜间模式样式 */
body.dark-mode {
    background-color: black;
    color: white;
}

.car-details-container {
    width: 500px;
    /* 设置容器的宽度 */
    height: auto;
    /* 设置容器的高度 */
    overflow: auto;
    /* 或者使用 overflow: hidden */
    margin: 0 auto;
    /* 居中显示容器 */
    border: 1px solid #ccc;
    /* 添加边框 */
    padding: 20px;
    /* 添加内边距 */
}

/* 添加 canvas 样式 */
#priceChart {
    width: 100%;
    /* 设置 canvas 宽度为容器宽度的100% */
    height: 200px;
    /* 设置 canvas 高度 */
}

.discussion-area {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-form {
    margin-bottom: 10px;
}

.comment-form textarea {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.comment-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-list {
    list-style: none;
    padding: 0;
}

.comment-list li {
    margin-bottom: 10px;
}